<h2>Tags</h2>
<ul>
	<li n:foreach="$tags as $tag">
		#{$tag[0]->name} ({$tag['postsCount']} posts) <a n:href="delete! $tag[0]->id" data-confirm="Are you sure?"><span class="fa fa-times" title="Delete"></span></a>
	</li>
	<li>
		{form addForm class => 'adminForm'}
			{input name}{input save class => 'btn'}
		{/form}
	</li>
</ul>
