{layout ../../../FrontModule/Presenters/templates/@layout.latte}

{block #content}

{include '../../../FrontModule/Presenters/templates/@header.latte'}

<h1>Oops!</h1>

<div class="serverError">
	<p class="serverError-message">You're not allowed to see this page. Go away.</p>
	<p class="serverError-code">error 403</p>
</div>
