{status 404}

{block #content}

<h1>Oops!</h1>

<div class="serverError">
	<p class="serverError-message">The requested page could not be found on this server. Please make sure you've typed the address right or clicked a correct link.</p>
	<p class="serverError-message">The issue has been logged and – if there's something I can do about it – will be taken care of soon.</p>
	<p class="serverError-code">error 404</p>
</div>

