{layout ../../../FrontModule/Presenters/templates/@layout.latte}

{block #content}

{include '../../../FrontModule/Presenters/templates/@header.latte'}

<h1>Oops!</h1>

<div class="serverError">
	<p class="serverError-message">The requested page was removed from this server and will likely never be back. I am sorry for the inconvenience.</p>
	<p class="serverError-code">error 410</p>
</div>

