{layout ../../../FrontModule/Presenters/templates/@layout.latte}
{status 500}

{block #content}

{include '../../../FrontModule/Presenters/templates/@header.latte'}

<h1>Oops!</h1>

<div class="serverError">
	<p class="serverError-message">The server encountered an internal error and was unable to complete your request. Please try again later.</p>
	<p class="serverError-code">error 500</p>
</div>
