services:
	# router
	- jiripudil\Routers\RouterFactory
	router: @jiripudil\Routers\RouterFactory::createRouter

	# security
	- jiripudil\Security\NativeHasher
	- jiripudil\Security\Authenticator
	nette.userStorage: jiripudil\Http\UserStorage

	# sitemap
	- jiripudil\Sitemap\SitemapGenerator(safe://%wwwDir%/sitemap.xml)
	- {class: jiripudil\Sitemap\SitemapListener, tags: [kdyby.subscriber]}

	# caching
	- jiripudil\Caching\CacheFactory

	# templating
	- FSHL\Output\Html
	- FSHL\Highlighter
	- jiripudil\Caching\TexyCache
	- jiripudil\Latte\TexyFactory
	- jiripudil\Latte\TexyFilter

	# console
	- {class: jiripudil\Console\CreateUserCommand, tags: [kdyby.console.command]}
	- {class: jiripudil\Console\GenerateSitemapCommand, tags: [kdyby.console.command]}

	# factories
	- {implement: jiripudil\Forms\IEntityFormFactory, inject: yes}
	- jiripudil\FrontModule\Components\Head\IHeadControlFactory
	- jiripudil\FrontModule\Components\Paging\IPagingControlFactory
	- jiripudil\AdminModule\Components\FlashMessages\IFlashMessagesControlFactory
	- jiripudil\AdminModule\Components\LoginForm\ILoginFormControlFactory
	- jiripudil\AdminModule\Components\Tags\ITagsControlFactory
	- jiripudil\AdminModule\Components\EditPostForm\IEditPostFormControlFactory
