@import '../../styles/mixins';

.container {
	@include container;
	margin-top: 2rem;
}

.heading {
	margin: 0 0 2rem;
	font-size: 2rem;
	font-weight: 700;
}

.postBody {
	max-width: 720px;
	margin: 2rem auto;

	pre, code {
		font-size: 1rem;
	}
}

.cupsOfCoffee {
	margin-top: 4rem;
	background: $color-coffee-light-roast;
	padding: 2rem 0 0.5rem;
	font-size: 1.1rem;
	text-align: center;
}

.coffee {
	color: $color-coffee;
	font-weight: 700;
}

.typo {
	margin-bottom: 2rem;
	padding: 1.4rem 0;
	font-size: 0.95rem;
	text-align: center;
}

.discussion {
	margin-bottom: 2rem;
}

.relatedPost {}
