php:
	date.timezone: Europe/Prague


application:
	errorPresenter: Error
	mapping:
		*: jiripudil\*Module\Presenters\*Presenter

session:
	expiration: 30 days
	cookieSecure: on


extensions:
	console: Kdyby\Console\DI\ConsoleExtension
	events: Kdyby\Events\DI\EventsExtension
	annotations: Kdyby\Annotations\DI\AnnotationsExtension
	doctrine: Kdyby\Doctrine\DI\OrmExtension
	autowired: Kdyby\Autowired\DI\AutowiredExtension
	migrations: Zenify\DoctrineMigrations\DI\MigrationsExtension
	validator: Kdyby\Validator\DI\ValidatorExtension
	translation: Kdyby\Translation\DI\TranslationExtension
	doctrineForms: Kdyby\DoctrineForms\DI\FormsExtension
	monolog: Kdyby\Monolog\DI\MonologExtension
	jiripudil: jiripudil\DI\jiripudilExtension


monolog:
	name: jiripudil.cz
	registerFallback: %debugMode%
	handlers:
		- Monolog\Handler\StreamHandler(%appDir%/../log/error.log)
		- Monolog\Handler\SyslogHandler(jiripudil.cz, local4)


migrations:
	namespace: jiripudil\Migrations
