php:
	date.timezone: Europe/Prague


application:
	errorPresenter: Error
	scanComposer: true
	scanDirs: false
	mapping:
		*: jiripudil\*Module\Presenters\*Presenter

session:
	expiration: 30 days
	cookieSecure: on


extensions:
	console: Kdyby\Console\DI\ConsoleExtension
	events: Kdyby\Events\DI\EventsExtension
	annotations: Kdyby\Annotations\DI\AnnotationsExtension
	doctrine: Kdyby\Doctrine\DI\OrmExtension
	autowired: Kdyby\Autowired\DI\AutowiredExtension
	migrations: Nettrine\Migrations\DI\MigrationsExtension
	monolog: Kdyby\Monolog\DI\MonologExtension
	fakeSession: Kdyby\FakeSession\DI\FakeSessionExtension
	jiripudil: jiripudil\DI\jiripudilExtension


monolog:
	name: jiripudil.cz
	registerFallback: %debugMode%
	handlers:
		- Monolog\Handler\StreamHandler(%appDir%/../log/error.log)
		- Monolog\Handler\SyslogHandler(jiripudil.cz, local4)


migrations:
	namespace: jiripudil\Migrations
