$font-family: 'PT Sans', sans-serif;

$font-weight-normal: 400;
$font-weight-bold: 700;

$color-dark: #005bb7;
$color-dark-plus: #0051a4;
$color-light: #ade8ff;
$color-light-plus: #d6f3ff;
$color-accent: #00aced;
$color-accent-2: #007acc;

$container-width: 1080px;
$breakpoint: 768px;
