$font-family-serif: 'Lora', serif;
$font-family-sans: 'PT Sans', sans-serif;

$color-coffee: #714316;
$color-coffee-dark-roast: darken($color-coffee, 7%);
$color-coffee-light-roast: lighten($color-coffee, 66%);

$breakpoint: 640px;
