{block #content}

<h1>Delete post</h1>

<p>Are you sure you really want to delete the wonderful post titled <strong>{$post->title}</strong>?</p>
<p>(It took you <strong>{$post->cupsDrunk}</strong> cups of coffee!)</p>
<p><a n:href="delete! $post->id" class="btn"><span class="fa fa-times"></span> Yes, delete it!</a></p>
