<div class="header--inline">
	<div class="header--inline-name"><a n:href=":Front:Homepage:">Jiří Pudil</a></div>
	<p class="header--inline-motto">I turn <em class="fa fa-coffee" title="coffee"></em> into <strong>&lt;code&gt;</strong></p>
</div>
