<!doctype html>
<html>
{control head}

<body>
	<!-- Google Tag Manager -->
	<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-P56LH3"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<script n:syntax="off">(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-P56LH3');</script>
	<!-- End Google Tag Manager -->

	{include #content}

	<div class="container">
		<div class="license">
			Content licensed under
			<a href="https://creativecommons.org/licenses/by/4.0/" title="Creative Commons Attribution 4.0 International">
				<img src="{$basePath}/static/img/license_cc.png" alt="Creative Commons"><!--
				--><img src="{$basePath}/static/img/license_by.png" alt="Attribution">
			</a>
		</div>
	</div>
</body>
</html>
