@import '../styles/mixins';
@import '../styles/variables';

.heading {
	@include mainHeading;
}

.pronunciation {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 1rem;

	& > div {
		font-size: 1.25rem;
		color: $color-dark;
	}

	& > p {
		font-size: 1rem;
		line-height: 1.4;
		margin: 0;
	}

	@media (max-width: $breakpoint) {
		width: 100%;
		margin-top: 1.5rem;
	}
}

.aboutMeWrapper {
	@include columns;
	margin-top: 1.5rem;
}

.aboutMe {
	@include leftColumn;

	h1, h2 {
		@include mainHeading;
		margin-top: 2.5rem;
	}
}

.sidebar {
	@include rightColumn;
	margin-top: 1.5rem;
}

.recipe {
	margin-bottom: 3rem;
}

.skills {
	margin-bottom: 2.5rem;

	h2 {
		@include mainHeading;
		margin-top: 0;
	}

	ul {
		list-style-type: none;
		padding: 0;

		li {
			display: flex;
			align-items: center;
			gap: 1rem;
			margin-bottom: 1rem;
			font-size: 1rem;

			div {
				flex: 0 0 10%;
				text-align: center;
				font-size: 1.3rem;
				color: $color-accent-2;
			}
		}
	}
}

.languages {
	margin-bottom: 2.5rem;

	h2 {
		@include mainHeading;
		margin-top: 0;
	}

	ul {
		list-style-type: none;
		padding: 0;

		li {
			display: flex;
			align-items: center;
			gap: 1rem;
			margin-bottom: 1rem;
			font-size: 1rem;
			color: $color-dark;

			div {
				flex: 0 0 10%;
				text-align: center;

				img {
					width: 1.2rem;
					border-radius: 50%;
				}
			}

			strong {
				font-size: 1.1rem;
				color: #222;
			}
		}
	}
}

.hobbies {
	@extend .skills;
}

.contactOuterWrapper {
	@include fullWidth;
	background: $color-light-plus;
	padding: 1.5rem 0;
	margin-bottom: -2rem;
}

.contactWrapper {
	@include columns;
}

.contact {
	@include leftColumn;

	h2 {
		@include mainHeading;
		margin-bottom: 1rem;
	}

	ul {
		list-style-type: none;
		padding: 0;

		li {
			display: flex;
			align-items: center;
			gap: 1rem;
			margin-bottom: 1rem;
			font-size: 1rem;

			div {
				flex: 0 0 3%;
				text-align: center;
				font-size: 1.3rem;
				color: $color-accent-2;
			}

			&.twitter div {
				color: $color-accent;
			}

			&.github div {
				color: black;
			}
		}
	}
}

.legal {
	@include rightColumn;
	@extend .contact;

	@media (max-width: $breakpoint) {
		margin-top: 2.5rem;
	}
}
