@import '../styles/mixins';

.whoami {
	display: flex;
	gap: 2rem;

	@media (max-width: $breakpoint) {
		display: block;
	}
}

.profile {
	p {
		margin: 1rem 0 1.5rem;
		font-size: 1.2rem;
		line-height: 1.7;
	}
}

.hello {
	@include mainHeading;
}

.recipe {
	flex-shrink: 0;
	padding-top: 1.25rem;
}

.featuredWrapper {
	@include columns;
}

.fromMyBlog {
	@include leftColumn;

	h2 {
		@include mainHeading;
		margin: 2.5rem 0;
	}
}

.latestTalk {
	@include rightColumn;

	h2 {
		@include mainHeading;
		margin: 2.5rem 0;
	}

	h3 {
		color: #222;
		font-size: 1.3rem;
		margin-bottom: 1rem;
	}

	p {
		font-size: 1rem;
		line-height: 1.6;
		color: #4c4c4c;
	}

	.talkMetadata {
		margin-top: 1rem;
		margin-bottom: 1.5rem;
		display: flex;
		align-items: center;
		justify-content: space-between;

		.talkEvent {
			font-size: 1rem;

			a {
				color: #222;
				text-decoration: none;
			}
		}

		.talkDate {
			font-size: 1rem;
			color: grey;
		}
	}
}
