@import '../styles/mixins';
@import '../styles/variables';

.header {
	@include container;
	padding: 2rem 0;
	display: flex;
	align-items: baseline;
	gap: 3rem;

	@media (max-width: $breakpoint) {
		justify-content: space-between;
	}
}

.title {
	font-size: 2rem;
	line-height: 1;
	font-weight: $font-weight-bold;

	a {
		text-decoration: none;
		color: #222;

		&:hover {
			color: #222;
		}
	}
}

.mainMenu {}
