@import '../styles/variables';

:global {
	* {
		box-sizing: border-box;
	}

	body {
		font-family: $font-family;
		font-size: 1.2rem;
		font-weight: 400;
		line-height: 1.5;
		color: #222;
	}

	a {
		color: $color-dark;

		&:hover {
			color: $color-dark-plus;
			text-decoration: none;
		}
	}
}
