@import '../styles/variables';

.recipe {
	display: flex;
	align-items: center;
	justify-content: center;
}

.flow {
	font-size: 2rem;
	color: $color-accent;
	margin: 0 1rem;
}

.input {
	font-size: 3rem;
	color: saddlebrown;
	position: relative;
	bottom: .5rem;
}

.output {
	font-size: 3rem;
	color: $color-dark-plus;
}

.me {
	width: 6rem;
	height: 6rem;
	border: .25rem dashed $color-accent;
	border-radius: 50%;
	z-index: 1;
}
