@import '../styles/variables';

.timeline {
	ul {
		position: relative;
		margin-top: 3rem;
		padding: 0 3rem 0 4.5rem;
		list-style-type: none;

		&::before {
			content: '';
			background: linear-gradient(180deg, $color-light-plus, $color-light-plus calc(100% - 6rem), #fff);
			position: absolute;
			left: 1.75rem;
			top: .75rem;
			width: .75rem;
			height: calc(100% - 1.5rem);
			z-index: -1;
		}

		li {
			position: relative;
			margin-bottom: 1rem;

			&::before {
				content: '';
				background: $color-dark;
				border: .375rem solid #fff;
				border-radius: 50%;
				width: 1.25rem;
				height: 1.25rem;
				position: absolute;
				left: -3.375rem;
				top: -.125rem;
				z-index: 1;
			}
		}

		details > summary {
			list-style-type: none;
			cursor: pointer;

			&::-webkit-details-marker {
				display: none;
			}

			&::before {
				content: '';
				display: block;
				width: .75rem;
				height: .75rem;
				position: absolute;
				left: -2.75rem;
				top: .5rem;
				rotate: -90deg;
				transition: rotate .25s ease;
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3C!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --%3E%3Cpath fill='%23fff' d='M201.4 374.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 306.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z'/%3E%3C/svg%3E");
				background-position: center;
				background-size: cover;
				background-repeat: no-repeat;
				z-index: 1;
			}
		}

		details[open] > summary::before {
			rotate: 0deg;
		}

		h3 {
			display: inline-block;
			margin: 0;
			font-size: 1.2rem;
			font-weight: normal;
			text-transform: uppercase;
			letter-spacing: .1rem;

			strong {
				font-size: 1.2rem;
				color: $color-dark;
				letter-spacing: 0;
				margin-right: 1rem;

				svg {
					margin-left: 1rem;
				}
			}
		}

		p {
			font-size: 1rem;
			line-height: 1.6;
			margin-bottom: 2.5rem;
		}
	}
}
