@import url('https://fonts.googleapis.com/css?family=Lora:400,700|PT+Sans:400,700|Work+Sans:900&subset=latin-ext');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

$font-family-serif: 'Lora', serif;
$font-family-sans: 'PT Sans', sans-serif;
$font-family-sans-bold: 'Work Sans', sans-serif;

$color-coffee: #714316;
$color-coffee-dark-roast: darken($color-coffee, 7%);
$color-coffee-light-roast: lighten($color-coffee, 66%);

$breakpoint: 640px;


@import 'layout';
@import 'homepage';
@import 'blog';
