* {
	box-sizing: border-box;
}

body {
	font-family: $font-family-serif;
	font-size: 1.1em;
	font-weight: 400;
	line-height: 1.5;
	color: #222;
}

a {
	color: #222;

	&:hover {
		color: #000;
		text-decoration: none;
	}
}

.cf {
	&:before, &:after {
		content: " ";
		display: table;
	}

	&:after {
		clear: both;
	}
}

.container {
	max-width: 960px;
	margin: 0 auto;
	padding: 0;

	@media (max-width: $breakpoint) {
		padding: 2.5em .5em;
	}
}

// flash messages

.flash {
	margin: 0 0 .25em;
	padding: .5em;
	font-size: .9em;
}

.flash--success {
	background: #6b3;
	color: #fff;
}

.flash--error {
	background: #c00;
	color: #fff;
}

.flash--info {
	background: #28afcc;
	color: #fff;
}

// inline header

.header--inline {
	text-align: center;
	margin-bottom: 2em;

	.header--inline-name {
		font-family: $font-family-sans;
		font-weight: 700;
		font-size: 1.4em;

		a {
			text-decoration: none;

			&:hover {
				background: inherit;
				color: #000;
			}
		}
	}

	.header--inline-motto {
		font-family: $font-family-sans;
		font-size: 1em;
		color: $color-coffee;
		margin: 0;
	}
}

// license footer

.license {
	margin-top: 1.5em;
	border-top: 1px solid #eaeaea;
	padding-top: 1.5em;
	text-align: center;
	font-size: .8em;
	color: #666;

	a {
		text-decoration: none;
	}

	img {
		max-height: 24px;
		vertical-align: middle;
	}
}
