@import '../../styles/variables';

.blogPost {
	margin-bottom: 3rem;

	a {
		text-decoration: none;
		color: #222;
	}

	h3 {
		margin-top: 0;
		margin-bottom: 1rem;
		font-size: 1.3rem;
	}

	&:hover h3 {
		color: $color-dark;
	}

	p {
		font-size: 1rem;
		line-height: 1.6;
		color: #4c4c4c;
	}

	.bottomLine {
		margin-top: 1rem;
		background: transparent;
		color: $color-dark;

		display: flex;
		align-items: center;
		gap: .5rem;

		@media (max-width: $breakpoint) {
			flex-direction: column-reverse;
			align-items: start;
		}

		.readMore {
			font-size: .9rem;
			font-weight: bold;
			text-transform: uppercase;

			display: flex;
			align-items: center;
			gap: .5rem;

			svg {
				font-size: 1rem;
			}
		}

		.metadata {
			margin-left: auto;

			font-size: 1rem;
			color: grey;
			fill: grey;

			display: flex;
			align-items: center;
			gap: .5rem;

			svg {
				margin-left: .5rem;
			}

			@media (max-width: $breakpoint) {
				margin-left: 0;
				margin-bottom: .5rem;
			}
		}
	}
}
