@import '../../styles/mixins';
@import '../../styles/variables';

.relatedPost {
	width: 65%;

	@media (max-width: $breakpoint) {
		width: 100%;
	}

	h2 {
		@include mainHeading;
		margin: 2.5rem 0;
	}
}
