name: Deploy
on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: lts/*
          cache: yarn
      - run: yarn install --immutable
      - run: yarn build
      - uses: actions/upload-artifact@v5
        with:
          name: dist-files
          path: dist/

  deploy:
    runs-on: ubuntu-latest
    needs: [build]
    steps:
      - uses: actions/checkout@v4
      - uses: actions/download-artifact@v6
        with:
          name: dist-files
          path: dist/
      - uses: crazy-max/ghaction-github-pages@v4
        with:
          target_branch: gh-pages
          keep_history: false
          build_dir: dist/
          fqdn: jiripudil.cz
          jekyll: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
